{% extends "Tasks/base.html" %}
{% block title %}Job Status{% endblock %}

{% block body %}

    <img src = "{{job.job_logo}}" style="width:250px;">

        <h1>{{job.label}}</h1>
        <h3>{{job.priority_level}}</h3>

        {% for goals in job.goal_set.all %}
            {{ goals.illustrate}}
            {% if goals.achieved %}
                <img src="https://www.google.co.in/imgres?imgurl=h" />
            {% endif %}
            <br>
        {% endfor %}

{% endblock %}